<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link rel="stylesheet" href="{% static 'vars.css' %}"/>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'acorn_interpreter.js' %}" type="text/javascript"></script>
    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        background: none;
      
        -webkit-font-smoothing: antialiased;
      }
      
      menu,
      ol,
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="xl">
      <div class="header">
        <img class="rectangle" src="{% static 'img/rectangle0.png' %}" />
        <img class="unsplash-uhjiu-8-fjns-q" src="{% static 'img/unsplash-uhjiu-8-fjns-q0.png' %}" />
        <button class="phoenix-buttons-dark" onclick="run_code()">
          <i class="label">Run code</i>
        </button>
      </div>
      <div class="challenge-list">
        <div class="frame-18">
          <div class="frame-182">
            <div class="sub-header">
              <div class="sub-header-elementes">
                <div class="frame-1582">
                  <div class="name">Name</div>
                  <!-- div class="sort">sort</div -->
                </div>
              </div>
              <div class="sub-header-elementes">
                <div class="frame-1582">
                  <div class="value">Value</div>
                </div>
              </div>
              <div class="sub-header-elementes2">
                <img class="clarity-remove-solid" src="{% static 'img/clarity-remove-solid0.svg' %}" />
              </div>
              <div class="frame-3881">
                <!-- img class="pajamas-scroll-down" src="{% static 'img/pajamas-scroll-down0.svg' %}" />
                <div class="phoenix-buttons">
                  <div class="label2">Go to top</div>
                </div -->
              </div>
            </div>
            <div class="frame-183" id="table-container-1">
              <!-- add calculations -->
              <div class="row-5">
                <div class="row">
                  <div class="table-elements">
                    <div class="label-container">
                      <div class="name-column">au</div>
                    </div>
                  </div>

                  <div class="table-elements">
                    <div class="label-container">
                      <div class="name-column">1.23456543567</div>
                    </div>
                  </div>
                  <div class="sub-header-elementes2">
                    <img class="clarity-remove-solid2" src="{% static 'img/clarity-remove-solid1.svg' %}" />
                  </div>
                </div>
                <div class="line">
                  <div class="line2"></div>
                </div>
              </div>
              <!-- add calculations -->
            </div>
          </div>
        </div>
      </div>
      <div class="challenge-list2">
        <div class="frame-18">
          <div class="frame-182">
            <div class="sub-header">
              <div class="sub-header-elementes">
                <div class="frame-1582">
                  <div class="name3">Name</div>
                  <!-- div class="sort">sort</div -->
                </div>
              </div>
              <div class="sub-header-elementes">
                <div class="frame-1582">
                  <div class="value2">Value</div>
                </div>
              </div>
              <div class="sub-header-elementes2">
                <img class="clarity-remove-solid15" src="{% static 'img/clarity-remove-solid14.svg' %}" />
              </div>
            </div>
            <div class="frame-182" id="table-container-2">
              <!-- add calculations -->
              <div class="row-5">
                <div class="row">
                  <div class="table-elements">
                    <div class="label-container">
                      <div class="name-column">T</div>
                    </div>
                  </div>
                  <div class="table-elements">
                    <div class="label-container">
                      <div class="name-column">12345676543.67898767</div>
                    </div>
                  </div>
                  <div class="sub-header-elementes2">
                    <img class="clarity-remove-solid16" src="{% static 'img/clarity-remove-solid15.svg' %}" />
                  </div>
                </div>
                <!--div class="line">
                  <div class="line2"></div>
                </div -->
              </div>
              <!-- add calculations -->
            </div>
          </div>
        </div>
        <!-- div class="rectangle-112"></div -->
      </div>
      <div class="top-menu">
        <div class="navbar-default">
          <div class="frame">
            <img class="group3" src="{% static 'img/group2.svg' %}" />
          </div>
          <div class="components-navbar-collapse">
            <div class="navbar-nav">
              <div class="frame-38814">
                <img class="uil-share" src="{% static 'img/uil-share0.svg' %}" />
                <form action="/model/" method="POST" id="form_ps">
                  <div class="phoenix-buttons">
                    {% csrf_token %}
                    <button class="pure-button button-success" type="submit" id="submit_share" onclick="submit_action(event)" value="Share">
                      <p class="label4">
                      Share permanent link
                      </p>
                    </button>
                  </div>
              </form>
              </div>
            </div>
            <div class="navbar-nav">
              <div class="frame-38814">
                <div class="tabler-edit">
                  <img class="group4" src="{% static 'img/group3.svg' %}" />
                </div>
                <button class="phoenix-buttons button-edit" id="editing_on" false onclick="unlock_model()">
                  <p class="label5">Copy and edit</p>
                </button>
              </div>
            </div>
          </div>
          <!--
          <div class="frame-4113">
            <div class="avatar">
              <div class="wrapper">
                <div class="us">PR</div>
              </div>
            </div>
            <div class="przemyslaw-rudnik">Przemyslaw Rudnik</div>
            <img class="chevron-down" src="{% static 'img/chevron-down0.svg' %}" />
          </div>
          -->
        </div>
      </div>
      <div class="frame-41132">
        <div class="input-values">Input values</div>
        <div class="text">Add to use in calculations</div>
      </div>
      <div class="frame-4114">
        <div class="code">Code</div>
        <div class="text">Make calculations on your values using JS</div>
      </div>
      <div class="frame-4115">
        <div class="output-results">Output results</div>
        <div class="text">Make calculations on your values</div>
      </div>
      <div class="frame-4116" id="editor">
      </div>
      <div class="footer">
        <div class="text2">
          <div class="frame-4108">
            <div class="thank-you-note">&copy <span id="copyright_date"></span> - Exodus Orbitals</div>
            <div class="thank-you-note2">Exodus Orbitals Newsletter</div>
          </div>
          <div class="frame-4109">
            <div class="sponsors">Prepared by</div>
            <img class="logo" src="{% static 'img/logo0.svg' %}" />
          </div>
        </div>
      </div>
    </div>
    <div id="canvasMap"><div>
    <label id="model_hash" hidden>{{ model_hash }}</label>

    <template id="calc_rows">
      <div class="row-5">
        <div class="row">
          <div class="table-elements">
            <div class="label-container">
              <div class="name-column label">

              </div>
            </div>
          </div>
          <div class="table-elements">
            <div class="label-container">
              <div class="name-column value">

              </div>
            </div>
          </div>
          <div class="sub-header-elementes2">
            <img class="clarity-remove-solid16" src="{% static 'img/clarity-remove-solid15.svg' %}" />
          </div>
        </div>
        <!--div class="line">
          <div class="line2"></div>
        </div -->
      </div>
    </template>

  </body>
  <script src="{% static 'local_js.1.1.js' %}" type="text/javascript"></script>
</html>
