<!DOCTYPE html>
<html>
    <head>
    	{% load static %}
        <title>Build a simple сalculator</title>
        <!--meta section -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- stylesheets imports -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css"/>
        
        <!-- local style -->
        <link rel="stylesheet" href="{% static 'styles.css' %}"/>
        <!-- js imports -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'acorn_interpreter.js' %}" type="text/javascript"></script>
    </head>
    <body>
        <div class="pure-g">
            <div class="pure-u-1-4">
                <h3 style="text-align: center">Inputs</h3>
                <div id="table-container-1" class="table-container">
                    <div class="table-header">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-body">
                            <table>
                                <tbody></tbody>
                            </table>
                        </div>
                        <span id="hint_inputs"><em>Hit 'Enter' in the cells to add a row </em></span>
                        <button class="pure-button button-delete" onclick="delete_last_row(this.parentElement.id)">Delete last row</button>
                </div>
            </div>
            <div class="pure-u-1-2">
                <h3 style="text-align: center">Code</h3>
                <div id="editor"></div>
                <label id="last_error" class="error_label_style"></label><br/>
                <table>
                    <tr>
                        <td class="actions_bar">
                            <button class="pure-button pure-button-primary" onclick="run_code()">Run</button>&nbsp;
                            <label>Set output precision</label>
                            <input type="number" id="pr_set" style="display:inline-block;width:30px" value="4" min="0" max="15" step="1">
                        </td>
                        <td class="actions_bar"></td>
                        <td class="actions_bar">
                            <button class="pure-button button-edit" id="editing_on" false onclick="unlock_model()">Edit</button>
                        </td>
                        <td class="actions_bar">
                            <form action="/model/" method="POST" id="form_ps">
                            {% csrf_token %}
                            <button class="pure-button button-success" type="submit" id="submit_share" onclick="submit_action(event)" value="Share">Share
                            </button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="pure-u-1-4">
                <h3 style="text-align: center">Outputs</h3>
                <div id="table-container-2" class="table-container">
                        <div class="table-header table-pure">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-body">
                            <table>
                                <tbody></tbody>
                            </table>
                        </div>
                        <span id="hint_outputs"><em>Hit 'Enter' in the cells to add a row</em></span>
                        <button class="pure-button button-delete" onclick="delete_last_row(this.parentElement.id)">Delete last row</button>
                    </div>
            </div>
        </div>
        <div id="canvasMap"><div>
        <label id="model_hash" hidden>{{ model_hash }}</label>
    </body>
    <script src="{% static 'local_js.js' %}" type="text/javascript"></script>
</html>
